
<h4>Agregar personaje</h4>
<form class="row" (ngSubmit)="emitCharacter()" >
  <input
    type="text"
    [(ngModel)]="character.name"
    placeholder="Nombre"
    name="name"
    class="form-control mb-2">
  <input
    type="number" placeholder="Poder"
    [(ngModel)]="character.power"

    name="power"
    class="form-control mb-2">
  <button  type="submit" class="btn btn-primary">Agregar</button>
<!--  <pre> {{character | json}}</pre>-->
</form>
<!--<to way data binding es para atributo y tambien evento[()]>-->
